In [31]:
print ("Mano tengo fe")

Mano tengo fe

### Clases de python
- variables
- operadores matematicos
- operadores de comparaci贸n
- operadores logicos
- condicionales

Contenido de la primera clase

## Variables

In [32]:
name = "josefino" # cadena de caracteres / string

In [33]:
name

'josefino'

In [34]:
Name = "ruperto"

In [35]:
ln = "segundo" # mala practica
last_name = "primera"
LastName = "primero"
# last-name = "primera"
# last.name = "primero"
LASTname = "primero"

In [36]:
# asignaci贸n de variables

number_1 = 22
number_2 = 10

# operaciones
sum = number_1 + number_2
substract = number_1 - number_2
multi = number_1 * number_2
div = number_1 / number_2

In [37]:
# resultados
print(sum)
print(substract)
print(multi)
print(div)

32
12
220
2.2

In [38]:
# resultados comentados
print(f"resultado de la suma es: {sum}") 
print(f"resultado de la resta es: {substract}")
print(f"resultado de la multiplicacion {multi}")
print(f"resultado de la division {div}")

resultado de la suma es: 32
resultado de la resta es: 12
resultado de la multiplicacion 220
resultado de la division 2.2

In [39]:
# tipos de datos en python
print (type (last_name))
print (type (number_1))
print (type (div))

<class 'str'>
<class 'int'>
<class 'float'>

In [40]:
# asignaci贸n de variables
# float para calculos decimales, int para enteros
number_1 = input("ingrese number_1: 22.5 ")
number_1 = float(number_1)
number_2 = input("ingrese number_2: 10.3 ")
number_2 = float(number_2)

# operaciones
sum = number_1 + number_2
substract = number_1 - number_2
multi = number_1 * number_2
div = number_1 / number_2

# resultados comentados
print(f"resultado de la suma es: {sum}") 
print(f"resultado de la resta es: {substract}")
print(f"resultado de la multiplicacion {multi}")
print(f"resultado de la division {div}")

ValueError: could not convert string to float: ''

In [ ]:
name_1 = input ("nombre:")
print("hola", name_1)
type(name_1)

hola 22

str

In [ ]:
nombre_1 = input ("johan")
print ("hola, como estas?", nombre_1)

hola, como estas? johan

In [ ]:
# listas
# int
# float 
# strings

list_1 = ["jose", "maria", "juan", 12, 14, 15, 20, 9.3 ]

In [ ]:
list_1

['jose', 'maria', 'juan', 12, 14, 15, 20, 9.3]

In [ ]:
# [start:stop]
names_list = list_1 [0:3]

['jose', 'maria', 'juan']

In [ ]:
#integers_list 
list_1[3:6]

[12, 14, 15]

In [ ]:
float_list = list_1 [-1]

NameError: name 'list_1' is not defined

In [ ]:
# metodos de listas
float_list

9.3

In [ ]:
list_1

['jose', 'maria', 'juan', 12, 14, 15, 20, 9.3]

## Condicionales

In [ ]:
#sintaxis de un condicional simple
# if condicion:
# operacion
# condicion
# mayor que >
# menor que <
# mayor igual >=
# menor igual <=
# diferente !=
# igual? ==

In [ ]:
day = input ("dia de la semana:")
if (day == "lunes"):
    print("hoy lunes voy a trabajar")
else:
    print ("no es lunes")

no es lunes

In [ ]:
#operadores logicos
#and y or

day = input ("dia de la semana:")
momento_day = input("ingrese momento del dia: ")

if (day == "lunes") or (momento_day == "noche"):
    print("voy al cine 2x1")
else:
    print ("no es lunes")

no es lunes

estructura de datos:
string
int/float
lista
- tuplas.
- diccionario

estructura de control
condicionales
ciclos (finitos, infinitos)
funciones

In [42]:
# tuplas
# elementos separados por una coma y encerrados en parentesis
tupla_1 = (1, 2, 3, 4, 5)
tupla_2 = ("a", "b", "c", "d", "e")

In [44]:
tupla_1 [0]

1

In [45]:
# diccionario
dict_1 = {
    "luis": 1234,
    "pedro": 5678,
    "juan": 9012,

}

In [47]:
dict_1 ["luis"]
print (dict_1 ["juan"])

9012

In [49]:
dic_2 = {
    "frutas": "manzanas",
    "numeros": [12, 24, 38],
    "pesos": [1.5, 2, 3.4]
}

In [50]:
dic_2 ["pesos"]

[1.5, 2, 3.4]

In [51]:
# cilos finitos "for"
# sintaxis
# for variable in secuencia:
#    cuerpo del ciclo
# la variable toma los valores de la secuencia en orden
#secuencia: cadena, lista, tupla, conjunto
for number in [1, 2, 3]:
    print (number)

1
2
3

In [62]:
names_list = ["jose", "maria", "jesus"]
for name in names_list:
   print (name)
if (name == "jose"):
   print (f"{name} es papa")
else:
   print ("no hay papa")

jose
maria
jesus
no hay papa

In [93]:
for name in names_list: 
  if name == "jose":
    print (f'"{name}" es papa')
else:
    print (f'"{name}" no es papa')

"jose" es papa
"jesus" no es papa

In [56]:
names_list = ["jose", "maria", "jesus"]
for j in names_list:
   print (j)

jose
maria
jesus

### funciones

In [ ]:
# sintaxis de una funcion en python

#def name_function(parameters):
#    """
#    documentacion de la fauncion
#   """
#   # codigo de la funcion
#   pass

In [108]:
# funcion para sumar dos numeros
def suma_dos(num_1, num_2):
    """
    esta funcion suma dos numeros enteros
    num_1: int
    num_2: int
    return: int
    """
    result = num_1 + num_2
    return result

In [109]:
print(suma_dos(12, 13))

25

In [104]:
#funcion que reste dos numeros
def resta_dos(num_1, num_2):
    """
    esta funcion resta dos numeros enteros
    num_1: int
    num_2: int
    return: int
    """
    result = num_1 - num_2
    return result

In [110]:
resta_dos(num_2=23, num_1=20)

-3