In [1]:
print ("Mano tengo fe")

Mano tengo fe

### Clases de python
- variables
- operadores matematicos
- operadores de comparación
- operadores logicos
- condicionales

Contenido de la primera clase

## Variables

In [2]:
name = "josefino" # cadena de caracteres / string

In [3]:
name

'josefino'

In [4]:
Name = "ruperto"

In [10]:
ln = "segundo" # mala practica
last_name = "primera"
LastName = "primero"
# last-name = "primera"
# last.name = "primero"
LASTname = "primero"

In [8]:
# asignación de variables

number_1 = 22
number_2 = 10

# operaciones
sum = number_1 + number_2
substract = number_1 - number_2
multi = number_1 * number_2
div = number_1 / number_2

In [13]:
# resultados
print(sum)
print(substract)
print(multi)
print(div)

32
12
220
2.2

In [19]:
# resultados comentados
print(f"resultado de la suma es: {sum}") 
print(f"resultado de la resta es: {substract}")
print(f"resultado de la multiplicacion {multi}")
print(f"resultado de la division {div}")

resultado de la suma es: 32
resultado de la resta es: 12
resultado de la multiplicacion 220
resultado de la division 2.2

In [20]:
# tipos de datos en python
print (type (last_name))
print (type (number_1))
print (type (div))

<class 'str'>
<class 'int'>
<class 'float'>

In [9]:
# asignación de variables
# float para calculos decimales, int para enteros
number_1 = input("ingrese number_1: 22.5 ")
number_1 = float(number_1)
number_2 = input("ingrese number_2: 10.3 ")
number_2 = float(number_2)

# operaciones
sum = number_1 + number_2
substract = number_1 - number_2
multi = number_1 * number_2
div = number_1 / number_2

# resultados comentados
print(f"resultado de la suma es: {sum}") 
print(f"resultado de la resta es: {substract}")
print(f"resultado de la multiplicacion {multi}")
print(f"resultado de la division {div}")

resultado de la suma es: 11.700000000000001
resultado de la resta es: 6.9
resultado de la multiplicacion 22.32
resultado de la division 3.8750000000000004

In [23]:
name_1 = input ("nombre:")
print("hola", name_1)
type(name_1)

hola 22

str

In [15]:
nombre_1 = input ("johan")
print ("hola, como estas?", nombre_1)

hola, como estas? johan

In [34]:
# listas
# int
# float 
# strings

list_1 = ["jose", "maria", "juan", 12, 14, 15, 20, 9.3 ]

In [35]:
list_1

['jose', 'maria', 'juan', 12, 14, 15, 20, 9.3]

In [37]:
# [start:stop]
names_list = list_1 [0:3]

['jose', 'maria', 'juan']

In [42]:
#integers_list 
list_1[3:6]

[12, 14, 15]

In [16]:
float_list = list_1 [-1]

NameError: name 'list_1' is not defined

In [52]:
# metodos de listas
float_list

9.3

In [55]:
list_1

['jose', 'maria', 'juan', 12, 14, 15, 20, 9.3]

## Condicionales

In [ ]:
#sintaxis de un condicional simple
# if condicion:
# operacion
# condicion
# mayor que >
# menor que <
# mayor igual >=
# menor igual <=
# diferente !=
# igual? ==

In [17]:
day = input ("dia de la semana:")
if (day == "lunes"):
    print("hoy lunes voy a trabajar")
else:
    print ("no es lunes")

no es lunes

In [27]:
#operadores logicos
#and y or

day = input ("dia de la semana:")
momento_day = input("ingrese momento del dia: ")

if (day == "lunes") or (momento_day == "noche"):
    print("voy al cine 2x1")
else:
    print ("no es lunes")

voy al cine 2x1

estructura de datos:
string
int/float
lista
tupla
diccionario

estructura de control
condicionales
ciclos (finitos, infinitos)
funciones